<div class="table-responsive">
  	<form name="editBill">
  		<span>Description</span><br />
  		<textarea ng-model="billCtrl.bill.description" name="description" required></textarea><br/>
  		<span>Value</span><br />
  		<input type="text" ng-model="billCtrl.bill.value" name="value" required>
  		<br/>
  		<br/>
  		<button class="btn btn-danger" ng-click="billCtrl.exit()">Cancel</button>
  		<button class="btn btn-success" ng-click="billCtrl.saveOrUpdate()" ng-disabled="editBill.$invalid">Save</button>
  	</form>
</div>